body {
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

input, button, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.glyphicon {
    margin-right: 5px;
}