<!doctype html>
<html ng-app="ionPmf">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700"/>
    <link href="/css/ipmf.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="/js/highcharts-ng.js"></script>
    <script src="/js/ipmf.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="IonPmfCtrl">
      <h1 class="text-center">i-PMF Web Calculator<br>
      <small>Potentials of mean force for ion-ion interactions</small></h1>
      <div class="row">
        <div class="col-sm-2">
          <div id="param-block">
          <div class="ion-params">
            <h3>Ion 1</h3>
            <!-- <label>Charge</label> -->
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="charge1" btn-radio="1">+1</button>
              <button type="button" class="btn btn-default" ng-model="charge1" btn-radio="-1">-1</button>
            </div>
            <label>Radius ({{sigma1 | number:2}})</label>
            <input type="range" min=2.0 max=5.5 step=0.01
                    ng-model="sigma1" ng-init="sigma1=2.0">
          </div>
          <div class="ion-params">
            <h3>Ion 2</h3>
            <!-- <label>Charge</label> -->
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="charge2" btn-radio="1">+1</button>
              <button type="button" class="btn btn-default" ng-model="charge2" btn-radio="-1">-1</button>
            </div>
            <label>Radius ({{sigma2 | number:2}})</label>
            <input type="range" min=2.0 max=5.5 step=0.01
                    ng-model="sigma2" ng-init="sigma2=2.0">
          </div> <!-- end ion-params -->
          </div> <!-- end param-block -->
          <div>
            <button id="compute-button" class="btn btn-primary" type="button" ng-click="getPmf()">Compute PMF</button>
            <button class="btn btn-success" type="button" ng-click="exportCSV()">Export to CSV</button>
          </div>
        </div> <!-- end col -->
        <div class="col-sm-8">
          <highchart id="chart1" config="chartConfig"></highchart>
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </body>
</html>
